<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pumpkin.aloaded.dao.mapper.LoadedSizeMapper">
  <resultMap id="BaseResultMap" type="com.pumpkin.aloaded.dao.model.LoadedSize">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loadedSizeName" jdbcType="VARCHAR" property="loadedsizename" />
    <result column="loadedSizeList" jdbcType="VARCHAR" property="loadedsizelist" />
    <result column="loadedSizeState" jdbcType="VARCHAR" property="loadedsizestate" />
  </resultMap>
</mapper>